* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --sizing: 16px;
  --white: #FFFFFF;
}

body {
  font-family: Arial, sans-serif;
  margin: var(--sizing);
  padding: 0;
  align-items: left;
  justify-content: left;
  height: 100vh;
  background-color: var(--white);
  font-size: 18px;
}

h1,
h2,
label,
button,
select,
input {
  color: black;
}

.helper-text {
  font-size: 12px;
  color: #666;
  margin-bottom: 10px;
}

#result {
  margin-top: var(--sizing);
  font-size: 20px;
  color: blue;
}

@media (max-width: 768px) {
  /* Adjust font sizes for smaller screens */
  .label-class {
      font-size: 14px; /* Adjust as needed */
  }
}
