* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --sizing: 16px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

h1,
h2,
label,
button,
select,
input {
  margin: var(--sizing);
}

.helper-text {
  font-size: 12px;
  color: #666;
  margin-bottom: 10px;
}

#result {
  margin-top: var(--sizing);
  font-size: 20px;
  color: blue;
}
